@import '../../../style/variable.scss';
.context-menu-backdrop {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}
.context-menu-container {
  position: absolute;

  background-color: white;

  border-radius: 2px;
  border: 1px solid #d9d9d9;

  .divider {
    border-bottom: 1px solid #d9d9d9;
  }

  .menu-item {
    cursor: pointer;
    padding: 1rem;
    &:hover {
      color: $colorPrimary;
      background-color: #457db208;
    }
  }
}
