.center {
  display: flex;
  justify-content: center;
}

.modal-container {
  position: relative;
  padding: 0em 2em;
  min-width: 12em;
  .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
  }

  .options {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }

  .slider {
    margin: auto;
  }

  .slider-track {
    height: 0%;
  }

  .split {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
