@import '../../style/variable.scss';

.game_editor_form_container {
  position: relative;
  .action {
    position: absolute;
    padding: 0.5rem;
    z-index: 1;
    &.right {
      right: 0;
    }
    .divider {
      border-bottom: 1px solid #cccccc;
    }
  }
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  &.hide {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.main_menu_button {
  cursor: pointer;
  padding: 0 1rem;
  box-sizing: border-box;

  &:hover {
    color: $colorPrimary;
    background-color: #00000008;
  }
}
.text_editor {
  &.border {
    border: 1px #ccc solid;
    .ql-container {
      font-size: 16px;
      .ql-editor {
        p {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.playable_metadata_container {
  .thumbnail_image {
    .ant-image {
      border-radius: 4px;
      img {
        width: 20rem;
        height: 12rem;
        object-fit: cover;
      }
    }
  }
  .background_image {
    position: relative;
    width: 100%;
    height: 12rem;
  }
}

.node_form_container {
  .name_input {
    box-sizing: border-box;
    padding: 0;
    input {
      font-weight: 600;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
