.game_gui {
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;

  width: 100%;

  background-color: #ffffff;

  font-family: 'Amatic SC', cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: 0;
    height: 2rem;
    width: 100%;

    background-image: linear-gradient(0deg, white, transparent);
  }

  .content {
    overflow: auto;
    height: 10em;
    p,
    .paragraph {
      font-size: 1.75rem;
      font-weight: 800;
      margin: 0 auto;
      padding: 0rem 2rem;
      max-width: 1024px;
      box-sizing: border-box;
    }
    h1 {
      font-size: 2rem;
      font-weight: 800;
      margin: 0 auto;
      padding: 0rem 1rem;
      max-width: 1024px;
      box-sizing: border-box;
    }
    &.italic {
      p,
      .paragraph {
        font-style: italic;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}

.game_info {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  p {
    border-radius: 50rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
  }
}
